/*Reset Css*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
}
h1{
    text-align: center;
    color: #d30000;

}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    background-color: #ffffff;

}
label,
inoput,
textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
textarea{
    resize: none;
   
}
button{
    background-color: #d30000;
    cursor: pointer;
    width: 10%;
    color: #f0f0f0;
    padding: 0.25rem;
    border-radius: 8px;
}
butto:hover{
    background-color: #a00000;
    
}