/*Reset Css*/

.hidden {
    display: none;
}
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #c1bdbd;
}
h1{
    text-align: center;
    color: #21529E;

}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#theusers{
    background-color: #ffffff;
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 38%;
    margin-top: 2%;
    margin-left: 3%;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);

    
}
#form{
   max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px -6px rgba(0,0,0,0.75);
}
label,
input,
textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: 500px;
}
textarea{
    resize: none;
   
}
button{
    background-color: #21529E;
    cursor: pointer;
    width: 100%;
    color: #ffffff;
    padding: 0.25rem;
    border-radius: 8px;
}
butto:hover{
    background-color: #363697;

}
#list{
    background-color: #ffffff;  
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;

}
.post{
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.post h2{
    color: #21529E;
    margin-bottom: 5px;
}
.post button{
    background-color: #21529E;
    cursor: pointer;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 4px;
    border: none;
    margin-top: 3%;
}
.post button:hover{
    background-color:#363697;
}
#errorAlertname,
#errorAlertlastname,
#errorAlertage,
#errorAlerteyeColor{
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}